html,body {
  font-family: DBHeavent, serif !important;
  touch-action: pan-x pan-y;
  
}

body {
  
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.BoxPADhm{
  margin-top: 30px;

  background-color: #ffffff;
  border-radius: 9px;
}
.BoxSghome{
  border-radius: 9px;
  background-color: #f9f9f9;
 

}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(54, 54, 54);
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */



.cover-container {
  max-width: 90em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  font-size: 22px;
  color: rgb(131, 131, 131);
  background-color: transparent;
  border-bottom: .29rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: #f8f9fa;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(42, 42, 42);
  border-bottom-color: #F7931E;
}



.btnHomePrimary{
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  font-size: 20px;
  border-radius: 9px;
  border: 0px;
  width: 100px;
  transition:ease-in-out 0.4s;
 }

 .btnHomePrimary:hover {
  color: rgb(255, 255, 255);
  
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  
  
  border-radius: 30px;
 
}

.btnindexPrimary{
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  font-size: 25px;
  border-radius: 100px;
  border: 0px;
  transition:ease-in-out 0.4s;
  width: 150px;
  
 }
.DashBackBtn{
  padding: 10px;
}
.DashXBackBtn{
  padding: 10px;
  margin: 10px;
  border-radius: 99px;
  background-color: #e5e5e5;
}


.menuCard{
  
  color: rgb(53, 53, 53);
  background:  rgb(255, 255, 255);
  padding: 12px;
  width: auto;
  height: auto;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.061));;
border-radius: 9px;
background:  rgb(255, 255, 255);
border: 1px solid rgba(0, 0, 0, 0);
transition:ease-in-out 0.4s;
}
.menuCard:hover {
  
  color: rgb(255, 137, 26);
  padding: 12px;
  width: auto;
  height: auto;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.13));;

background:  rgb(255, 255, 255);
border: 1px solid rgba(0, 0, 0, 0.082);
}

 .btnindexPrimary:hover {
  color: rgb(255, 255, 255);
  
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  font-size: 30px;
  width: 200px;
  border-radius: 8px;
  border: 0px;
}

.headcoverpadding{
  padding-top: 110px;
  padding-bottom: 20px;
  
}

 .boxindexPR{
  border-radius: 9px;
  background-color: #F8FAFC;
 }
 .boxindex1{
  border-radius: 9px;
  background: linear-gradient(180deg, rgba(255, 225, 191, 0.692) 0%, rgba(247, 146, 30, 0.692) 100%);
 }
 .boxindex2{
  border-radius: 9px;
  background: linear-gradient(180deg, rgba(190, 255, 217, 0.685) 0%, rgba(111, 207, 151, 0.685) 100%);
 }
.maG4{
  margin: 4px;
}
.mgL5{
  margin-left: 5px;
}
.overlap-box {
    top: -15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.rounded-10 {
  border-radius: 10px;
}



.paddingBottom15 {
  padding-bottom:15px;
  
}

.paddingTop15 {
  padding-top:15px;
  
}
.NavBcolorTextSizeSelect {
  font-size: 20px;
  
  color:#F7931E;
  


  
}
.NavBcolorTextSize {
  font-size: 20px;
  
  color:#6B6B6B;
  
  
}


.ant-message .anticon {
    position: relative;
    top: 0px !important;
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle !important;
}
.ant-input-lg {
 
  font-size: 23px !important;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  vertical-align: baseline !important;
  border-radius: 100px !important;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: all;
}

.fromfontsize20 {
  font-size: 22px;

}
.NavBcolorIconSize {
  font-size: 24px;
  color:#6B6B6B;
  
}
.NavBcolorIconSizeSelect {
  font-size: 24px;
  font-family: DBHeaventDB, serif;
  color:#F7931E;
  
}

.mggt {
  margin-top: -1.5vh;
  
}
.middle {
  font-size: 20px;
  height: 100%;
  display: flex;
}

.fontSize25 {
  font-size: 25px;
  color:#2c2c2c;
}
.fontSize35 {
  font-size: 35px;
  color:#2c2c2c;
}
.fontSize20 {
  font-size: 20px;
  color:#2c2c2c;
}
.rounded-7 {
  border-radius: 7px;
}
.ipx {
  padding: 12px;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
.rounded-all{
  border-radius: 50px;
}
.logoPaddingSUB {
  padding-right: 30px;

}
.logo-padding {
  padding-left: 15px;

}
.logo-paddingCustomer {
  padding-left: 1px;

}
.white {
background-color: #ffffff!important;
}

.LoginMerchantPIN{
  
  width: 100px;
  height: 100px;

  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));;

}


.tabbarFloat{
  
  width: 500px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));;

}
.btnOrg{
  color: #F7931E;
  border-color: #F7931E;
  
}

.btnQRBack{
  color: #FB8549;
  
  background-color: #FFEBD9;
  font-size: 25px;
  border-radius: 9px;
  border: none;
  width: 100%;
  height: 59px;
 
}

.btnQRBack{
  color: #FB8549;
  background-color: #FFEBD9;
  font-size: 25px;
  border-radius: 9px;
  border: none;
  width: 100%;
  height: 59px;
 
}

.mobile-nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.iconStaffManagement{
  
  
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.btnPreRegister{
  color: #ffffff;
  background: linear-gradient(180deg, #F7931E 0%, #FF7676 100%);
  font-size: 25px;
  border-radius: 99px;
  border: none;
  width: 70%;
  height: 50px;
}

.webPOSbg{

  background: #F5F6FA;

}
.marginTopM50{
  
  margin-top: -50px;

  

}


.pincode-input-text
  {
    padding:0 !important;
    margin:0 2px;
    text-align:center;
    border: 1px solid;
    background: transparent;
    width: 50px;
    height: 50px;
  }
  .pincode-input-text:focus
  {
    outline:none;
    box-shadow:none;
  }
.hidepintext{
  -webkit-text-security: disc;
}
.fontSizePin{
  
  font-size: 30px;
  border-radius: 10px;
  

}
.cardBG{
  
  
  background: #ffffff;
  box-shadow: #1f1f1f2d 0px 0px 9px 0px;
  border-radius: 12px;
  margin-top: 20px;
}
.dashMenuBody{
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));;

}

@font-face {
  font-family: DBHeavent;
  src: url(../fonts/DB_Heavent_v3.2.1.ttf);
}
@font-face {
  font-family: DBHeaventDB;
  src: url(../fonts/DB_Heavent_Bd_v3.2.1.ttf);
}

.DB{
  font-family: DBHeavent, serif;

}
.DBB{
  font-family: DBHeaventDB, serif;
  color: rgb(0, 0, 0);
}

.DbBold{
  font-family: DBHeaventDB, serif;
  
}
.topbt{
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #eb2d2d;
}
.bottom-tab-label {
  font-size: 20px;
}

